/*========== Base Rules ==========*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-grey);
}
.container {
  max-width: 120rem;
  margin: 8rem auto 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 8rem;
}

aside {
  grid-column: 2/3;
}
footer {
  grid-column: 1/3;
}
