/*========== Typography Rules ==========*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  color: var(--color-grey);
  line-height: 1;
  font-family: "Open sans", sans-serif;
  font-weight: var(--font-regular);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: var(--color-dark);
}
.heading-secondary {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  display: inline-block;
  position: relative;

  &::after {
    content: "Top";
    font-size: 1.4rem;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: var(--color-primary);
    position: absolute;
    top: -3rem;
    right: -7rem;
  }
}
.heading-tertiary {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
}
