.footer {
  color: var(--color-grey);
  padding: 4rem;
  text-align: center;
  position: relative;

  &__copyright {
    font-size: 1.4rem;
  }
  &__like {
    &:link,
    &:visited {
      font-size: 1.4rem;
      color: var(--color-light);
      background-image: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-dark)
      );
      display: inline-block;
      padding: 1.2rem;
      text-decoration: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      background-image: linear-gradient(
        to left,
        var(--color-primary),
        var(--color-dark)
      );
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem var(--color-grey);
    }
  }
}
