main {
  grid-column: 1/2;
}

.article {
  &__header {
    margin-bottom: 3.2rem;
  }

  &__author-box {
    margin-bottom: 1.6rem;

    &::after {
      content: "";
      display: table;
      clear: left;
    }
  }

  &__author-img {
    width: 5rem;
    height: 5rem;
    float: left;
  }

  &__author-text {
    font-size: 1.6rem;
    padding: 2rem 6rem;
  }

  &__image {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 1.2rem;
  }

  &__sub-section {
    margin-bottom: 4.8rem;
  }

  &__list {
    list-style: none;
    margin-bottom: 1.6rem;
  }

  &__item {
    font-size: 1.8rem;
    line-height: 1.5;

    &::before {
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      display: inline-block;
      background-image: url(../img/arrow.svg);
      background-size: cover;
      margin-right: 1rem;
    }
  }
}
