/*========== Sidebar Rules ==========*/
.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: var(--color-black);
}
.sidebar {
  align-self: flex-start;
}
.post {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  &__image {
    width: 10rem;
    display: block;
  }
  &__heading {
    font-size: 1.8rem;
    display: inline-block;
    line-height: 1.2;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-dark);
    margin-bottom: 1.2rem;
    font-weight: 500;
  }
  &__author {
    font-size: 1.4rem;
    color: var(--color-grey);
  }
}
